*{
    font-family: 'DM Sans', sans-serif;
    margin:0;
    padding: 0;
    background-size:cover;
}
.button__div{
    display: inline;
    float: right;
}
#myLinks{
    display: none;
    grid-template-columns: repeat( 3, 1fr);

} 
.burger-menu__item:hover{
    opacity: 0.8;
    transform: scale(1,1.3);
}
.burger-menu__item{
    max-width: 300px;
    color: white;
    text-decoration: none;
}
.menu__logo{
    max-width: 260px;
    float: left;
 
}
.menu__title{
    padding-left: 10px;
    font-size: larger;
    letter-spacing: 1px;
    float: right;
    padding: 15px;
}
.menu__item{
    display: inline-block;
    margin-top: 20px;
    margin-left: 1%;
    font-size: small;
    color: white;
    text-decoration: none;
    margin-bottom: 30px;
}
.intro{
    background-image: url("./images/Rectangle\ 463.svg");
    color: white;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 120%;
}
.intro__img{
    width: 80%
}
.button{
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 30px;
    min-width: 180px;
    height: 30%;
    background-color: white;
    color: #57B3FE;
}
.title-group{
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-top: 30px;
}
.subtitle{
    display: inline-block; 
    margin-bottom: 20px;
    max-width: 800px;
    font-size: large;
}
.services{
    background-color: #F2F2F2;
    background-image: url("./images/bg.png");
}
.service__content{
    /* width: 1075px; */
    /* align-items: center; */
    display: flex;
    justify-content:space-evenly;
}
.table{
    width: 280px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    font-size: small;
    margin-bottom: 20px;
  

}
.services__table{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1075px;
}

.services__title{
    font-size: 140%;
    padding: 25px 1px;
    margin-top: 30px;
    max-width: 350px;
    min-height: 100px;
    margin-left: 10%;
}
.table__image{
    margin: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.table__text{
    margin: 25px;
    size: 100%;
    text-align: left;
    color: grey;
    align-self: center;
}
.table__text>h3{
    margin: 15px 0px 15px 0px;
    color:black;
}
.item__img{
    height: 26px;
    width: 26px; 
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process{
    background-image: url("./images/bcgrd1.png");
    text-align: center;
    color: white;
}
.process__block{
    display: grid;
    grid-template-columns: 1fr;
    margin:2%
}
.process__item{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 12px;
    position: relative;
    min-height: 320px;
    max-width: 1075px;
    margin: 30px;
}

.proc1{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 70px;
}
.proc2{
    z-index: 0;
    position: absolute;
    left:0px;
    top: 90px;
}
.proc3{
   position: absolute;
   z-index:10;
   top: 100px;
   left: 245px;
}

.brands{
    background-color: #F2F2F2;
    text-align: center;
}
.brands__title{
    font-size: 120%;
    max-width: 600px;
    text-align: center;
    display: inline-block;
}
.brands__img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    max-width: 1075px;
    margin-left: auto;
    margin-right: auto;
}
.img__item{
    margin: 20px;
        display: flex;

}
.start-working{
    background-image: url("./images/bcgrd1.png");
    color: white;
}
.start-working__offer{
    max-width: 1024px;
    margin: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.offer__text{
    align-self: center;
    letter-spacing:1px;
    height: auto;
    width:305px;
    margin: 20px 0px 0px 20px;
}
.offer__image{
    max-width:100%;
}

.footer__end{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.social-network{
    padding-left: 20%;
}
.social-network__item{
    padding-left:1%;
}
.privacy{
    font-size: small;
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}

.footer{
    background-color: black;
}
.footer__body{
    max-width: 1075px;
}
.footer__start{
    scroll-padding-top:inherit;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:850px){
    .menu{
        display:none;
    }
    .burger-menu{
        float: none;
        display:block;
        color:white;
        align-items: center;
        margin-right: 4%;
    }
}
@media(min-width:850px){
    .burger-menu{
        display:none;
    }
}
@media(max-width:450px){
    #myLinks{
        display: none;
        grid-template-columns: repeat( 2, 1fr);
    } 
}   
@media(max-width:1050px){
    .header-button{
     display:none;
    }

    .button__div{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:320px){
    .services__table{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
     
    }
    .table{
        justify-items: center;

        justify-content:space-around;
        display: flex;
    }
    .brands__img{
        display: block;
        justify-items: center;
    }
}

@media(max-width:1022px){
    .services__table{
        /* display: grid; */
        padding: 16px;
        grid-template-columns: 1fr 1fr ;
        /* grid-auto-flow: row; */
    }
    .table{
        justify-content:space-around;
        display: flex;
    }
}
@media(min-width:320px){
    .brands__img{
        display: grid;
        justify-items: center;
        grid-template-columns:repeat(1,1fr);
    }
    .img__item{
        display: flex;
    }
}  
@media(min-width:420px){
    .brands__img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
  
}  
@media(min-width:668px){
    .brands__img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}
@media(min-width:1024px){
    .brands__img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media(max-width:576px){
    .offer__image{
        display: none;
    }
    .start-working__offer{
        grid-template-columns: 1fr;
        font-size: small;
    }
    .logo{
        width: 200px;
        height: auto;
     }
}

@media(max-width:620px){
    .footer__menu{
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        text-align: center;
        margin-left: auto;
    }
    .services__table{
        margin-left:5%;
        display: grid;
        grid-template-columns: 1fr ;
    }
}
@media(max-width:960px){
    .process__img{
        display:none;
    }
    .process__item{
    grid-template-columns:  1fr;
    min-height: 50%;
    }
    .footer__menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: auto;
        margin-left: auto;
        text-align: center;
        margin-bottom: 15px;
    }
    .footer__end,
    .menu__logo,
    .social-network,
    .logo-img{
        display: block;
        float: none;
        text-align: center;
    }
}

/* colors */
.light-pink{
    background-color: #FFE7DB;
}
.light-mint{
    background-color: #E7F2EF;
}
.light-yellow{
    background-color: #FAF3D8;
}
.light-blue{
    background-color: #C0F2EF;
}
.light-purple{
    background-color: #EDE7F2;
}
.light-bluemarine{
    background-color: #D8F0FA;
}