*{
    font-family: 'DM Sans', sans-serif;
    margin:0;
    padding: 0;
    background-size:cover;
}
.button__div{
    display: inline;
    float: right;
}
@media(max-width: 1024px) {
    .button__div{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .menu__item{
        float: none;
        width: 100%;
    }
    .menu__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
.menu__toggle--close:focus {
    display: block;
    background-color: #0b4777;

}
.menu>a{
    margin:1%;
    margin-top: 2%;
}

.menu__logo{
    max-width: 260px;
    float: left;
    margin: 1%;
}
.menu__item{
    display: inline-block;
    margin-left: 1%;
    font-size: small;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
}
.intro{
    background-image: url("./images/Rectangle\ 463.svg");
    color: white;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 120%;
    
}
.intro__img{
    width: 100%
}
.button{
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 30px;
    min-width: 180px;
    height: 30%;
    background-color: white;
    color: #57B3FE;
}
.title-group{
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-top: 30px;
}
.subtitle{
    display: inline-block; 
    margin-bottom: 20px;
    align-self: center; 
    max-width: 800px;
    text-align: center;
    font-size: large;
}
.services{
    background-color: #F2F2F2;
    background-image: url("./images/bg.png");
    align-items: center;
    
}
.service__content{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1075px;
    align-items: center;
}

.table{
    display: inline-block;
    max-width: 280px;
    min-height: 240px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    font-size: small;
    align-self:center;
}
.services__table{
    display: grid;
    text-align: center;
    grid-gap: 16px;
    grid-area:auto;

}
@media(min-width:320px){
    .services__table{
        display: grid;
        /* padding: 16px; */
        grid-template-columns: 1fr;
    }
}
@media(min-width:668px){
    .services__table{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media(min-width:1024px){
    .services__table{
        display: grid;
        padding: 16px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.services__title{
    align-self: left;
    font-size: 150%;
    padding: 25px;
    margin-top: 30px;
    text-align: left;
    max-width: 350px;
    min-height: 100px;
}
.table__image{
    margin: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__text{
    margin: 25px;
    size: 100%;
    text-align: left;
    color: grey;
    align-self: center;
}
.table__text>h3{
    margin: 15px 0px 15px 0px;
    color:black;
}
.item__img{
    height: 26px;
    width: 26px; 
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PROCESS */
.process{
    background-image: url("./images/bcgrd1.png");
    text-align: center;
    color: white;

}
.process__block{
    display: inline-block;
}
.process__item{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 12px;
    position: relative;
    min-height: 320px;
    max-width: 1075px;
    margin: 30px;
}
@media(max-width:960px){
    .process__img{
        display:none;
    }
    .process__item{
    grid-template-columns:  1fr;
    min-height: 50%;
    }
}
.proc1{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 70px;
}
.proc2{
    z-index: 0;
    position: absolute;
    left:0px;
    top: 90px;
}
.proc3{
   position: absolute;
   z-index:10;
   top: 100px;
   left: 245px;
}
/* colors */
.light-pink{
    background-color: #FFE7DB;
}
.light-mint{
    background-color: #E7F2EF;
}
.light-yellow{
    background-color: #FAF3D8;
}
.light-blue{
    background-color: #C0F2EF;
}
.light-purple{
    background-color: #EDE7F2;
}
.light-bluemarine{
    background-color: #D8F0FA;
}
/* brands */
.brands{
    background-color: #F2F2F2;
    text-align: center;
}
.brands__title{
    font-size: 120%;
    max-width: 600px;
    text-align: center;
    display: inline-block;
}
.brands__img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    max-width: 1075px;
    margin-left: auto;
    margin-right: auto;

}
@media(min-width:320px){
    .brands__img{
        display: grid;
        grid-template-columns:repeat(1,1fr);
  
    }
}
@media(min-width:420px){
    .brands__img{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
}  
@media(min-width:668px){
    .brands__img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:1024px){
    .brands__img{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
.img__item{
    margin: 20px;
}
/* OFFER */
@media(max-width:576px){
    .offer__image{
        display: none;
    }
    .offer__text{
        grid-template-columns: 1fr;
        width: 100%;
    }
}
.start-working{
    background-image: url("./images/bcgrd1.png");
    color: white;
}
.start-working__offer{
    max-width: 1024px;
    margin: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.offer__text{
    align-self: center;
    letter-spacing:1px;
    height: auto;
    width:305px;
    margin: 20px 0px 0px 20px;
}
.offer__image{
    max-width:100%;
}
.footer{
    background-color: black;
 text-align: center;
}
/* .footer__body{
    max-width: 1075px;
    margin: 40px;
    text-align: center;
} */
.footer__end{
    display: grid;
}
.social-network{
    padding-left: 100px;

}
.social-network__item{
    padding-left: 10px;
    
}
.privacy{
    display: block;
    float: right;
    text-decoration: none;
    padding-left: 2%;
    color: white;
}
.ltd{
    float:left;
}