*{
    font-family: 'DM Sans', sans-serif;
    margin:0;
    padding: 0;
    background-size:cover;
}
@mixin logoTrfm($w,$marg){
    width: $w;
    margin: $marg;
}
@mixin nullish(){
    padding: 0%;
    text-align: center;
}
@mixin imgColl($p,$z,$top,$left){
    position: $p;
    z-index:$z;
    top: $top;
    left: $left;
}
@mixin centerPosition(){
    margin-left: auto;
    margin-right: auto;
}
@mixin flexCent(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin sizing($w,$h){
    width: $w;
    height: $h;
}
.intro{
    background-image: url("../images/Rectangle\ 463.svg");
    color: white;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 120%;
    &__img{
        width: 70%;
    }
}
.header{
    padding: 2%;
    .header__menu{
        @media(max-width: 850px){
            display:none;
        }
    }
}
.button__div{
    display: inline;
    float: right;
}
.button{
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 30px;
    min-width: 180px;
    height: 30%;
    background-color: white;
    color: #57B3FE;
}
.intro-btn{
    display: block;
}
// menu
.menu__logo{
    max-width: 260px;
    float: left;
}
.menu{
    &__item{
        display: inline-block;
        margin-top: 20px;
        margin-left: 1%;
        font-size: small;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
    }
}
// burger
.burger-menu{
    display:none;
    @media(max-width: 850px){
        float: none;
        display:block;
        color:white;
        align-items: center;
        margin-right: 4%;
        .links{
            display: none;
            grid-template-columns:1fr 1fr 1fr;
            .burger-menu__item{
                max-width: 300px;
                color: white;
                text-decoration: none;
                @media screen and (max-width:425px){
                    font-size: 15px;
                }
                &:hover{
                   color:darkblue;
                }
            }
        }
    }
}
// title
.title-group{
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-top: 30px;
    .subtitle{
        display: inline-block; 
        margin-bottom: 20px;
        max-width: 800px;
        font-size: large;
    }
}
// SERVICES
.services{
    background-color: #F2F2F2;
    background-image: url("../images/bg.png");
    &__body{
        display: flex;
        justify-content: space-evenly;
        .services__content{
            max-width: 1200px;
            .services__title{
                font-size: 140%;
                padding: 5% 0%;
                margin-top: 30px;
                max-width: 350px;
                min-height: 100px;
            }
            .services__table{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 50px;
                @media screen and (max-width:950px){
                    grid-template-columns:1fr 1fr;
                }
                @media screen and (max-width:600px){
                    grid-template-columns: 1fr;
                 }
                .table{
                    width: 280px;
                    height: 250px;
                    border-radius: 15px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    font-size: small;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.table__item{
    .table__image{
        margin: 25px;
        display: inline-block;
        @include sizing(50px, 50px);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:768px) {
            margin: 10px 0px 0px 10px;
            text-align: center;
        }
        .item__img{
            @include sizing(26px, 26px);
            border-radius: 6px;
        }
    }
    .table__text{
        padding: 0 10px 15px 10px;
        size: 100%;
        text-align: left;
        color: grey;
        align-self: center;
        .service-name{
            margin: 15px 0px 15px 0px;
            color: black;
        }
        .qualification{
            @media screen and (max-width: 425px){
                font-size: small;
            }
        }
    }
}
// process
.process{
    background-image: url("../images/bcgrd1.png");
    color: white;
    text-align: center;
    &__body{
        display: flex;
        justify-content: space-around;
        .process__block{
        width: 1075px;
            .process__item{
                display: grid;
                margin: 30px;
                grid-template-columns: 1fr 1fr;
                background-color: white;
                border-radius: 12px;
                height: 300px;
                max-width: 1000px;
                .process__img{
                  @include sizing(450px,auto);
                  padding-top: 4%;
                }
                .table__item{
                    .service-name{
                        @media screen and (max-width: 320px){
                            margin: 0;
                        }
                    }
                }
                @media screen and (max-width: 800px){
                    grid-template-columns: 1fr ;
                    height: 200px;
                }
                .process__img{
                    position: relative;
                    padding-right: 10px;
                    @media screen and (max-width: 900px){
                        display:none;
                    }
                    .image-collection__item1{
                        @include imgColl(absolute,1,0px,50px);
                    }
                    .image-collection__item2{
                        @include imgColl(absolute,0,90px,0px);
                    }
                    .image-collection__item3{
                        @include imgColl(absolute,10,90px,205px);
                    }
                }
                .table__text{
                    @media screen and (max-width:900px) {
                        font-size: 120%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
// brands
.brands{
    background-color: #F2F2F2;
    text-align: center;
    .brands__title{
        font-size: 120%;
        max-width: 600px;
        display: inline-block;
    }
    .brands__img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        max-width: 1075px;
        @include centerPosition();
        @media screen and (max-width:950px){
            grid-template-columns:1fr 1fr 1fr 1fr;
        }
        @media screen and (max-width:750px){
            grid-template-columns: 1fr 1fr 1fr;
         }
         @media screen and (max-width:550px){
            grid-template-columns: 1fr 1fr ;
         }
         @media screen and (max-width:400px){
            grid-template-columns: 1fr;
            margin-left: 20%;
         }
        .img__item{
            margin: 20px;
            display: flex;
        }
    }
}
// start work
.start-working{
    background-image: url("../images/bcgrd1.png");
    color: white;
    display: flex;
    justify-content: space-around ;
    .start-working__offer{
        max-width: 1024px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        .offer__text{
            align-self: center;
            letter-spacing:1px;
            @include sizing(305px, auto);
            margin: 20px 0px 0px 20px;
        }
        .offer__image{
            max-width:100%;
        }
    }
}
.footer{
    background-color: black;
    @include centerPosition();
    &__body{
        padding: 0% 15%;
        @media screen and (max-width:1024px) {
            @include nullish();
        };
        @media screen and (max-width:768px) {
            @include nullish();
        }
        @media screen and (max-width:425px) {
            @include nullish();
        }
        .body__content{
            align-self: center;
            max-width: 1075px;
            .footer__start{
                .menu__logo{
                    padding-right: 5%;
                    @media screen and (max-width:1024px) {
                        padding-right: 0%;
                    };
                    @media screen and (max-width:768px) {
                      float: none;
                    }
                    @media screen and (max-width:425px) {
                       float: none;
                    };
                }
                .logo-img{
                    @media screen and (max-width:1024px) {
                        @include logoTrfm(70%,10px);
                    }
                    @media screen and (max-width:425px) {
                        @include logoTrfm(100%,10px);
                    };
                    @media screen and (max-width:768px) {
                        @include logoTrfm(100%,20px);
                    }
                }
                .footer__menu{
                    @media screen and (max-width:768px) {
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding: 0%;
                    }
                    @media screen and (max-width:425px) {
                        grid-template-columns: 1fr 1fr;
                    }
                    .menu__item{
                        @media screen and (max-width:768px) {
                            font-size: 120%;
                            margin: 3%;
                        }
                        @media screen and (max-width:425px) {
                            margin: 2%;
                            display: inline;
                            padding: 0px;
                        }
                    }
                }
            }
            .social-network{
                padding-left: 5%;
                @media screen and (max-width:768px) {
                    display: block;
                    text-align: center;
                }
                &__item{
                    padding-left:1%;
                }
            }
            .footer__end{
                margin-top: 20px;
                text-align: center;
                display: flex;
                justify-content: space-between;
                .footer__privacy{
                    @media screen and (max-width:425px) {
                        font-size: 3px;
                    };
                    .privacy{
                        font-size: small;
                        display: inline-block;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
/* colors */
.light-pink{
    background-color: #FFE7DB;
}
.light-mint{
    background-color: #E7F2EF;
}
.light-yellow{
    background-color: #FAF3D8;
}
.light-blue{
    background-color: #C0F2EF;
}
.light-purple{
    background-color: #EDE7F2;
}
.light-bluemarine{
    background-color: #D8F0FA;
}
