*{
    font-family: 'DM Sans', sans-serif;
    margin:0;
    padding: 0;
    background-size:cover;
    box-sizing: border-box;
}
@mixin logoTrfm($w,$marg){
    width: $w;
    margin: $marg;
}
@mixin nullish(){
    padding: 0%;
    text-align: center;
}

@mixin centerPosition(){
    margin-left: auto;
    margin-right: auto;
}

@mixin flexCent(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin sizing($w,$h){
    width: $w;
    height: $h;
}

$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;
$small: 480px;

.intro{
    background-image: url("../images/Rectangle\ 463.svg");
    color: white;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 120%;
    &__img{
        width: 70%;
    }
}
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
    @media(max-width: $mobile) {
        display: block;

    }
    .menu {
        display: block;
        padding: 0 0 20px 0;
        @media(max-width: $small) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            color: white;
            text-decoration: none;
            padding: 10px 10px;
            font-size: large;
            @media(max-width: 1024px) {
                font-size: small;
                padding: 10px 25px;
            }
            @media(max-width: 1024px) {
                font-size: small;
                padding: 10px;
            }
        }
    }
}
.button{
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 30px;
    min-width: 180px;
    height: 33%;
    background-color: white;
    color: #57B3FE;
}
// title
.title-group{
    letter-spacing: 0.1em;
    font-size: 20px;
    padding: 30px;
    .subtitle{
        display: inline-block; 
        margin-bottom: 20px;
        max-width: 800px;
        font-size: large;
    }
}
// SERVICES
.services{
    background-color: #F2F2F2;
    background-image: url("../images/bg.png");

    &__body{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }

    &__content{
        max-width: 1200px;
    }

    &__title{
        font-size: 140%;
        padding: 5% 0%;
        margin-top: 30px;
        max-width: 350px;
        min-height: 100px;
    }
    
    &__table{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        @media screen and (max-width:950px){
            grid-template-columns:1fr 1fr;
        }
        @media screen and (max-width:600px){
            grid-template-columns: 1fr;
        }
    }
}

.table{
    width: 280px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    font-size: small;
    margin: 20px;
    &__image{
        margin: 25px;
        display: inline-block;
        @include sizing(50px, 50px);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:768px) {
            margin: 10px 0px 0px 10px;
            text-align: center;
        }
        .item__img{
            @include sizing(26px, 26px);
            border-radius: 6px;
        }
    }
    &__text{
        padding: 0 10px 15px 10px;
        size: 100%;
        text-align: left;
        color: grey;
        align-self: center;
        .service-name{
            margin: 15px 0px 15px 0px;
            color: black;
        }
        .qualification{
            @media screen and (max-width: 425px){
                font-size: small;
            }
        }
    }

}
// process
.process{
    background-image: url("../images/bcgrd1.png");
    color: white;
    text-align: center;
    &__body{
        display: flex;
        justify-content: space-around;
        .process__block{
        width: 1075px;
            .process__item{
                display: grid;
                margin: 30px;
                grid-template-columns: 1fr 1fr;
                background-color: white;
                border-radius: 12px;
                height: 300px;
                max-width: 1000px;
                .process__img{
                  @include sizing(450px,auto);
                  padding-top: 4%;
                }
                .table__item{
                    .service-name{
                        @media screen and (max-width: 320px){
                            margin: 0;
                        }
                    }
                }
                @media screen and (max-width: 800px){
                    grid-template-columns: 1fr ;
                    height: 200px;
                }
                .process__img{
                    position: relative;
                    padding-right: 10px;
                    @media screen and (max-width: 900px){
                        display:none;
                    }
                }
                .table__text{
                    @media screen and (max-width:900px) {
                        font-size: 120%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
// brands
.brands{
    background-color: #F2F2F2;
    text-align: center;
    padding: 20px;
    .brands__title{
        font-size: 120%;
        max-width: 600px;
        display: inline-block;
    }
    .brands__img{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        max-width: 1075px;
        @include centerPosition();
        @media screen and (max-width:950px){
            grid-template-columns:1fr 1fr 1fr 1fr;
        }
        @media screen and (max-width:750px){
            grid-template-columns: 1fr 1fr 1fr;
         }
         @media screen and (max-width:400px){
            grid-template-columns: 1fr 1fr ;
         }
         @media screen and (max-width:$small){
            grid-template-columns: 1fr ;
            display: block;
            text-align: center;
         }
        .img__item{
            margin: 20px;
            text-align: center;
        }
    }
}
// start work
.start-working{
    padding-bottom: 30px;
    background-image: url("../images/bcgrd1.png");
    color: white;
    display: flex;
    justify-content: space-around ;
    .start-working__offer{
        max-width: 1024px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        .offer__text{
            align-self: center;
            letter-spacing:1px;
            @include sizing(305px, auto);
            margin: 20px 0px 0px 20px;
        }
        .offer__image{
            max-width:100%;
        }
    }
}
.footer{
    background-color: black;
    @include centerPosition();
    &__body{
        padding: 0% 10%;
        @media screen and (max-width:1024px) {
            @include nullish();
        };
        @media screen and (max-width:768px) {
            @include nullish();
        }
        @media screen and (max-width:425px) {
            @include nullish();
        }
        .body__content{
            align-self: center;
            max-width: 1075px;
            padding: 2% 3%;
            .footer__start{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: medium;

                @media screen and (max-width:$mobile) {
                    display: inline-block;
                }
                .footer__menu{
                    font-size: small;
                    padding: 5px;
                    @media screen and (max-width:$mobile) {
                        display:grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 0%;
                    }
                    @media screen and (max-width:768px) {
                        display:grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        padding: 20px;
                    }
                    @media screen and (max-width:425px) {
                        grid-template-columns: 1fr 1fr;
                    }
                    .menu__item{
                        text-decoration: none;
                        padding: 5px;
                        color: white;
                        font-size:large;
                        @media screen and (max-width:768px) {
                            order:1;
                            word-wrap: wrap;
                            padding: 5px;
                        }
                        @media screen and (max-width:425px) {
                            font-size: medium;
                            display: inline;
                            padding: 0px;
                        }
                    }
                }
            }
            .social-network{
                @media screen and (max-width:768px) {
                    display: block;
                    text-align: center;
                }
                &__item{
                    padding-left:5px;
                }
            }
            .footer__end{
                margin-top: 20px;
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                .privacy{
                   
                    font-size: small;
                    display: inline-block;
                    padding-left: 10px;
                    padding-bottom: 10px;
                    text-decoration: none;
                    color: white;
                }
                .privacy__img{
                   @include sizing(119px,10px )
                }
            }
        }
    }
}
.footer-logo{
    @include sizing(260px,auto ) ;
    @media screen and (max-width:$desktop) {
        @include logoTrfm(20%,10px);
    }
    @media screen and (max-width:425px) {
        @include logoTrfm(30%,10px);
        display: block;

    }
    @media screen and (max-width:$mobile) {
        @include logoTrfm(100%,0px);
        
    }
}
/* colors */
.light-pink{
    background-color: #FFE7DB;
}
.light-mint{
    background-color: #E7F2EF;
}
.light-yellow{
    background-color: #FAF3D8;
}
.light-blue{
    background-color: #C0F2EF;
}
.light-purple{
    background-color: #EDE7F2;
}
.light-bluemarine{
    background-color: #D8F0FA;
}
